<div class="row">
  <div class="col-xs-12">
    <div class="h3">The Ocean is Dying</div>
    <hr />
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi reiciendis
      et voluptatibus facilis dolore at quos non, ut reprehenderit blanditiis
      nobis inventore temporibus aperiam necessitatibus! Totam ullam iste
      pariatur nulla.
    </div>
  </div>
</div>
<!-- <div class="row mt-3">
  <div class="col-xs-12">
    <img src="https://picsum.photos/350/165?random" />
  </div>
</div> -->
