<div class="row">
  <div class="col-xs-12  w-100">
    <div class="h3">Welcome to Flappy Fin!</div>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div>
      Flappy Fin is basically flappy bird except it's a fish and the the purpose
      is to highlight the water pollution in the ocean.
    </div>
    <button
      type="button"
      class="btn text-white mt-3 bg-turquoise"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      How to Play
    </button>
  </div>
  <!-- </div> -->
  <!-- <div class="row mt-5"> -->
  <!-- <div class="col-xs-10 w-75 m-auto"> -->
  <div class="col-9 m-auto">
    <img src="https://picsum.photos/350/165?random" class="w-100" />
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How to Play</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Click the spacebar to jump. Don't hit the trash or you will die. The
        goal is to stay alive as long as possible.
      </div>
    </div>
  </div>
</div>
